$black: #000;

.background-fixed {
    background-attachment: fixed!important;
}

.background-cover {
    background-size: cover!important;
}

.background-center {
    background-position: center!important;
}

.brightness-dark {
    filter: brightness(0.5);
}

.bg-black {
    background: $black;
}

.dark-background {
    // background-color: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to top, black, transparent);
}

.background-dark {
    background: rgba(0,0,0,0.8);
}

.background-blog {
    background-image: url('../img/pexels-khalil-boucherit-9277192.jpg');
}